.reviewForm {
  max-width: 580px;
  width: 100%;
  margin-top: 30px;
}

.inner {
  display: flex;
  flex-direction: column;
}

.reviewFormItem + .reviewFormItem {
  margin-top: 25px;
}

.reviewFormItem {
  & input {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    border: 1px solid var(--beige);
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
    outline: none;
    padding: 15px 15px;
  }
  & textarea {
    resize: none;
    max-width: 577px;
    width: 577px;
    height: 200px;
    outline: none;
    padding: 30px 20px;
    border: 1px solid var(--beige);
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-bottom: 30px;
    &::placeholder {
      color: var(--black);
      font-size: 16px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
    }
  }
}

.rateWrap {
  font-size: 16px;
  line-height: 24px;
  color: #000;
  white-space: nowrap;
  margin-bottom: 20px;
}

.message {}

.publish {
  text-align: right;
  //button {}
}

.submitButton:hover {
  border-color: var(--yellow-light);
  opacity: 0.8;
}

@media all and (max-width: 767px) {
  .message {
    max-width: none;
  }

  .reviewForm {
    margin-bottom: 60px;
    padding: 12px 16px;
  }

}
