.banner {}

.container {
  /*ширина контейнера чистая 1170px*/
  max-width: 1040px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.centerText {
  font-size: 30px;
  line-height: 1.25;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin: 49px 0 18px;
}

.centerDiscount {
  font-size: 45px;
  line-height: 1.25;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--red);
  text-align: center;
  margin-bottom: 60px;
}

.centerInfo {
  color: var(--beige);
  text-align: end;
}

.item {}

@media (max-width: 900px) {
  .inner {
    flex-wrap: wrap;
  }
}

@media (max-width: 735px) {
  .item {
    margin: 0 auto;
  }
  .centerInfo  {
    margin-bottom: 49px;
  }
}