.footerPolitics {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  max-width: 240px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 760px) {
  .footerPolitics {
    font-size: 12px;
  }
}
