.catalogAside {
  min-width: 224px;
  margin-right: 20px;
  margin-top: 47px;
}

.asideFilter {
}

.filterButton {
  display: none;
}

@media (max-width: 980px) {
  .catalogAside {
    margin-top: 0;
  }
  .filterButton {
    display: block;
    padding: 0;
    margin-bottom: 20px;
    & svg {
      width: 30px;
      height: 30px;
    }
  }
}
