.menuTop.displayOff {
  display: none;
}

.menuTop {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menuTopButtons {
  display: flex;
  align-items: center;
}

.menuTopButtons li + li {
  padding-left: 15px;
}

.menuTopTel {
  font-size: 18px;
  line-height: 1.25;
  margin: 0 110px;
  transition: all .3s;
}

.menuTopTel:hover {
  color: var(--beige);
}


@media (max-width: 1200px) {
  .menuTopTel {
    font-size: 12px;
  }
  .menuTopButtons svg {
    height: 15px;
    width: 15px;
  }
}

@media (max-width: 768px) {
  .menuTopTel {
    display: none;
  }
  .menuTopButtons {
    position: relative;
    top: 4px;
  }
}

@media (max-width: 500px) {
  .menuTopButtons {
    display: none;
  }
}
