.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-top: 50px;
  background-color: var(--lightBeige);
  padding: 35px 0 30px;
}

.container {
  /*ширина контейнера чистая 1170px*/
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.innerItem + .innerItem {
  padding-left: 15px;
}

.inner h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin-bottom: 20px;
}

.inner ul li a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-bottom: 7px;
  transition: all .3s;
}

.inner ul li a:hover {
  color: var(--gray);
}

.inner p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}